@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family:  var(--font-rubik), Arial, Helvetica, sans-serif;
}

/* ------------------------------
   Global form input fixes
   ------------------------------ */

/* Force input text color */
input,
textarea,
select {
  color: #000000;
  -webkit-text-fill-color: #414141; /* Safari / iOS */
  background-color: #ffffff;
}


input::placeholder,
textarea::placeholder {
  color: #9ca3af; /* Tailwind gray-400 */
  opacity: 1; /* iOS fix */
}


/* Placeholder visibility */
input::placeholder,
textarea::placeholder {
  color: #000000; /* Tailwind gray-500 */
  opacity: 1; /* Fix iOS low-opacity placeholders */
}

/* iOS Safari fixes */
input,
textarea,
select {
  -webkit-appearance: none;
  appearance: none;
  font-size: 16px; /* Prevent iOS zoom on focus */
  background-color: #ffffff;
}

/* Disabled inputs */
input:disabled,
textarea:disabled,
select:disabled {
  color: #9ca3af; /* gray-400 */
}

/* Autofill fix (Chrome / Safari) */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #000000;
  transition: background-color 9999s ease-in-out 0s;
}
